body {
	width: 100%;
	margin: 0 auto;
	font-family: "Arial", sans-serif;
}

/* START HEADER */

.page-header {
  margin-top: 10px;
	font-size: 40px;
	text-align: center;
}

  .page-header a {
    color: black;
    text-decoration: none;
  }

    .pomodoro {
      padding: 0 5px;
      color: #fff;
      background-image: linear-gradient(
          #CC0630 0%,
          #8F0222 75%,
          #6D0019 100%
      );
      border-radius: 5px;
    }

/* END HEADER */

/* START MAIN */

main {
	text-align: center;
}

  .timer {
    margin: 40px 0;

  	font-size: 50px;
  }

  .button {
  	width: 120px;
  	padding: 5px 15px;

  	font-size: 1.3em;

    color: #333;
    background-image: linear-gradient(#FFFFFF, #DDDDDD);
  	border: 1px solid black;
    border-radius: 5px;
  }

  .button:active {
    color: #fff;
    background-image: none;
  }

  .button:first-child {
  	margin-right: 10px;
  }

  .button:disabled {
    color: #6E6E6E;
    border-color: #6E6E6E;
  }

  .panel-settings {
    display: none;
    margin: 40px auto;
  }

    .radio-buttons {
      display: inline-block;

      vertical-align: top;
    }

    .radio-buttons:last-child {
      margin-left: 50px;
    }

      .title-settings {
        margin-bottom: 10px;

        font-size: 1.2em;
        font-weight: bold;
      }

      .radio-buttons label {
        display: block;
        margin-top: 5px;

        text-align: left;
      }

  label, input[type="radio"] {
    cursor: pointer;
  }

  input[type="radio"] {
    position: relative;
    left: -5px;
    top: 0;
  }

  input[type="radio"]:before {
    position: relative;
    left: 0;
    top: -2px;

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;

    background-color: #AAAAAA;
    border-radius: 8px;

    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    content: '';
  }

  input[type="radio"]:hover:before {
    background-color: gray;
  }

  input[type="radio"]:checked:before {
    color: #F3F3F3;

    font-size: 30px;
    text-align: center;

    line-height: 18px;

    content: "\2022";
  }


/* END MAIN */