body {
	width: 100%;
	margin: 0 auto;
	font-family: "Arial", sans-serif;
}

/* START HEADER */

.page-header {
  margin-top: 10px;
	font-size: 40px;
	text-align: center;
}

  .pomodoro {
  	color: red;
  }

/* END HEADER */

/* START MAIN */

main {
	text-align: center;
}

  .timer {
  	font-size: 50px;
  	margin: 40px 0;
  }

  .button {
  	width: 120px;
  	padding: 5px 15px;
  	font-size: 1.3em;
  	background-color: #C9C9C9;
  	background-image: linear-gradient(to bottom, #f7f7f7 90%, #898b91);
  	border: 1px solid black;
  	border-radius: 5px;
  }

  .button:active {
	  background-image: linear-gradient(to bottom, #898b91, #f7f7f7 10%);
  }

  .button:first-child {
  	margin-right: 10px;
  }

    .button:disabled {
      color: #6E6E6E;
      border-color: #6E6E6E;
    }

  .panel-settings {
    display: none;
    margin: 40px auto;
  }

    .radio-buttons {
      display: inline-block;
      vertical-align: top;
    }

    .radio-buttons:last-child {
      margin-left: 50px;
    }

      .title-settings {
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
      }

      .radio-buttons label {
        display: block;
        text-align: left;
      }

/* END MAIN */